<h1>Créer votre compte utilisateur</h1>

<div class="container">
  <form [formGroup]="userForm" (ngSubmit)="onSubmitForm()">
    <div class="form-group">
      <label for="userName">Pseudo :</label>
      <input type="text" class="form-control" id="userName" formControlName="userName">
    </div>
    <div class="form-group">
      <label for="email">Email :</label>
      <input type="email" class="form-control" id="email" formControlName="email">
    </div>
    <div class="form-group">
      <label for="password">Mot de passe :</label>
      <input type="password" class="form-control" id="password" formControlName="password">
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="userForm.invalid">Enregistrer</button>
  </form>
</div>